html{
    font-family: algerian;
}
body {
 background-image: url(https://images.unsplash.com/photo-1448953663060-e7058b1bff12?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);

background-repeat: no-repeat;
background-size: cover; 

color: white;
}

.predictor {
    font-size: 36px;
    text-align: center;
}
.container {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    padding-bottom: 2rem;
    border-radius: 8px;
    margin-left: 4rem;
    margin-right: 4rem;
}
button {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color: aqua;
    font-size: 16px;

}
.name {
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;
    margin-bottom: 4px;
    font-size: 14px;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}